<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854084648529-nh1rbkjocujlk5tuqu5n5cpoo12du17h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854084648529-nh1rbkjocujlk5tuqu5n5cpoo12du17h</string>
	<key>API_KEY</key>
	<string>AIzaSyBk9porwyR5IYtbIAaRM0znoqWNbsz0G8c</string>
	<key>GCM_SENDER_ID</key>
	<string>854084648529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.normprojects.nviro</string>
	<key>PROJECT_ID</key>
	<string>nviro-ea9c5</string>
	<key>STORAGE_BUCKET</key>
	<string>nviro-ea9c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854084648529:ios:8121d99344f19f7e468270</string>
</dict>
</plist>